/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  height: 100%;
}
.container {
  max-width: 1024px;
  font-size: 1.4rem;
  margin: auto;
  height: 100%;
}
.center {
  justify-content: center;
  align-content: center;
}
.nav {
  display: flex;
  height: 60px;
  width: 100%;
  background-color: #f3f6f6;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 30px;
}
header {
  display: flex;
  height: 60px;
  width: 100%;
  background-color: #f3f6f6;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 30px;
}
@media (max-width: 500px) {
  header {
    background-color: #f2e3e7;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
}
header nav a {
  font-size: 2rem;
  margin-left: 40px;
  margin-right: 20px;
  font-size: 1.5rem;
}
@media (max-width: 500px) {
  header nav a {
    font-size: 1.8rem;
    margin-left: 20px;
  }
}
section.welcome-card {
  margin-top: 20px;
  width: 100%;
  height: auto;
  border: #f2e3e7 1px solid;
  background-color: #f2e3e7;
}
@media (max-width: 500px) {
  section.welcome-card {
    background-color: #f3f6f6;
  }
}
.welcome-card-div1 {
  display: flex;
  flex-direction: column;
  margin: 60px 0;
  margin-left: 60px;
}
@media (max-width: 500px) {
  .welcome-card-div1 {
    align-items: center;
    justify-content: center;
    margin-left: auto;
  }
}
.welcome-card-div1 h1 {
  margin-bottom: 20px;
  font-size: 5rem;
  height: auto;
}
.welcome-card-div1 p {
  margin-bottom: 20px;
}
.welcome-img {
  max-width: 100%;
  height: auto;
}
.connect-button {
  width: 20%;
  margin-top: 40px;
  padding: 10px 0;
  background: transparent;
  border: darkgray solid 1px;
  cursor: pointer;
}
@media (max-width: 500px) {
  .connect-button {
    justify-content: center;
    align-content: center;
  }
}
.connect-button:hover {
  background-color: #f3f6f6;
  color: white;
}
@media (max-width: 500px) {
  .connect-button:hover {
    background-color: #f2e3e7;
    color: white;
  }
}
section.mid-card {
  display: flex;
  padding: 40px 0;
}
@media (max-width: 500px) {
  section.mid-card {
    flex-direction: column;
  }
}
section.mid-card div {
  flex-wrap: wrap;
  width: 100%;
  padding: 0 60px;
}
@media (max-width: 500px) {
  section.mid-card div {
    padding: 0 20px;
  }
}
section.mid-card div h2 {
  font-size: 3rem;
  margin-bottom: 10px;
}
@media (max-width: 500px) {
  div.mid1 h2 {
    margin-left: 130px;
  }
}
@media (max-width: 500px) {
  div.mid2 h2 {
    margin-left: 90px;
  }
}
footer {
  display: flex;
  height: 60px;
  width: 100%;
  background-color: #f3f6f6;
  justify-content: flex-end;
  margin-bottom: 30px;
  justify-content: center;
  align-content: center;
  align-items: center;
}
